@font-face {
    font-family: powerpuff;
    src: url(images/powerpuff-girls-font.ttf);
}
body{
    height: 100vh;
    margin: auto;
    background-color: #DCCCF1;
}
.logo{
    width: 350px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-top: 50;
    position: absolute;
    z-index: 100;
}
.start-wrapper{
    width: 600px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-image: url(images/Game-StartBG.png);   
}
.ppg{
    margin-top: 90px;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}
.start-btn{
    width: 156px;
    height: 23px;
    display: flex;
    background-color: transparent;
    border: transparent;
    background-image: url(images/start-game.png);
    margin-top: 55px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}
.cover{
    background-color: #DCCCF1;
    position: absolute;
    margin-top:60px;
    height: 200px;
    width: 600px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    z-index: 50;
}
#app{
    display: none;
    width: 600px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.end-game{
    width: 600px;
    height: 400px;
    display: none;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-image: url(images/end.gif);
}
.restart{
    width: 135px;
    height: 23px;
    display: flex;
    background-color: transparent;
    border: transparent;
    background-image: url(images/restart.png);
    margin-top: 350px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}
p{
    color: white;
    font-family: powerpuff;
    margin-left: 10px;
    margin-bottom: 10px;
    position: absolute;
    letter-spacing: 2.5;
}